[Unit]
Description=System ACPI Daemon
After=syslog.service

[Service]
EnvironmentFile=-/etc/sysconfig/acpid
ExecStartPre=-/usr/share/acpid/acpid.preconfig
ExecStart=/usr/sbin/acpid -f $PROGRAM_ARGS

[Install]
WantedBy=multi-user.target
